body{
    background-color: lightgray;
}

.main_body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px black solid;
    height: 405px;
    padding: 20px;
    border-radius: 15px;
    background-color: black;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-auto-rows: 60px;
    height: 60px;
    color: black;
    border-radius: 2px;

}

input[type=button]{
   margin: 5px;
   border-radius: 7px;
   background-color: white;
   font-size: 16px;
   font-weight: bold;
   box-shadow: -2px 2px #a5a0a061;;
}

input[type=button]:hover{
    background-color: rgba(255, 255, 255, 0.916);
}

input[type=text]{
    width: 93%;
    height: 80px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 7px;
}


